.container{
    width: 1024px;
    margin: 0 auto;
}

.b1{
    background-color: navy;    
}
.b2{
    background-color: mediumblue;  
    width: 30%;
}
.b3{
    background-color: lightskyblue;
    width: 70%;
}
.b4{
    background-color: lightblue;
    width: 30%;
}
.b5{
    background-color: gainsboro;
    width: 70%;
}