/*Resetea los valores adicionales que agrega el navegador al modelo de caja*/
* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Reglas de aplicación de estilos
 1- Importancia (orden de carga navegador, nuestro.css, !important)
 2- Especificidad (!important > inline style(embebidos) > #id > .class > tag)
 3- Orden en las fuentes (las declaraciones al final reescriben las declaraciones anteriores)
*/
html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

/**MENU****/
.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}
.main-nav__item {
  display: inline-block;
}
.main-nav__item a {
  color: white;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}
/*Pseudo classes, : Definen un estado hover,active*/
.main-nav__item a:hover {
  color: #333;
}

.main-nav__item a:active {
  color: #555;
}

/*Pseudo elementos, : Definen una parte del elemento after, before, selection*/
.main-nav__item a::before{
  content: " | ";
}

/*main {
    width: 100vw;
    height: 100vh;
    padding: 10px;
}*/

.container{
  display: flex;
  flex-wrap: wrap;  
}

.box{
  width: 100%;
  min-width: 150px;
  height: 150px;
}

.b1{
  background-color: navy;
}
.b2{
  background-color: mediumblue;  
}
.b3{
  background-color: lightskyblue;
}
.b4{
  background-color: lightblue;
}
.b5{
  background-color: gainsboro;
}