/*Resetea los valores adicionales que agrega el navegador al modelo de caja*/
* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Reglas de aplicación de estilos
 1- Importancia (orden de carga navegador, nuestro.css, !important)
 2- Especificidad (!important > inline style(embebidos) > #id > .class > tag)
 3- Orden en las fuentes (las declaraciones al final reescriben las declaraciones anteriores)
*/
html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
/****************** VARIABLES ********************/
:root{
  --bars:#f0f0f0;
  --borders:#c7c7c7;
  --color-font:#444;
}

/******************** HEADER ********************/
.header{
  width: 100%;
  min-height: 100px;
  align-self: flex-start;
  order:1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5rem;
  background-color:var(--bars);
  box-shadow: 0px 2px 2px var(--borders);
}

.logo{
  width: 5rem;
  height: 5rem;
}

.nav{  
  display: inline-flex;
  list-style: none;
  align-items: center;
}
.nav_item {
  margin: 0 .5rem;
  min-height: 5rem;
}
.nav_item a{
  color: var(--color-font);
  text-decoration: none;  
}
.nav_item a:visited{
  color: var(--color-font);
}

/******************** MAIN ********************/
.container{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;  
  order:2;

  padding:1rem;
}

.box{
  width: 100%;
  min-width: 150px;
  min-height: 50px;
  border: 0.1rem solid var(--borders);
  box-shadow: 1px 1px 1px var(--borders);
}

.b1{
  background-color: gainsboro;
}

/******************** FOOTER ********************/
.footer{
  width: 100%;
  min-height: 100px;
  align-self: flex-end;
  order:3;

  background-color: var(--bars);
  box-shadow: 0px -2px 2px var(--borders)
}