.b1{
    background-color: navy;    
}
.b2{
    background-color: mediumblue;  
    width: 50%;
}
.b3{
    background-color: lightskyblue;
    width: 50%;
}
.b4{
    background-color: lightblue;
}
.b5{
    background-color: gainsboro;
}